<div class="login-page">
  <div class="login-card">
    <h2 class="login-title">Iniciar sesión</h2>

    @if (errorMessage()) {
      <div class="error-message">{{ errorMessage() }}</div>
    }

    <form class="login-form" (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          [value]="loginForm().email"
          (input)="updateField('email', $any($event.target).value)"
          type="email"
          required
          placeholder="ej: juan@mail.com"
          autocomplete="email"
        />

        <app-field-error
          [show]="formValidator.submitAttempted()"
          [errorList]="formValidator.fieldErrors()['email']"
        />
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          id="password"
          [value]="loginForm().password"
          (input)="updateField('password', $any($event.target).value)"
          type="password"
          required
          placeholder="Tu contraseña"
          autocomplete="current-password"
        />

        <app-field-error
          [show]="formValidator.submitAttempted()"
          [errorList]="formValidator.fieldErrors()['password']"
        />
      </div>

      <button class="submit-btn" type="submit" [disabled]="loading()">
        @if (loading()) {
          Ingresando...
        } @else {
          Iniciar sesión
        }
      </button>
    </form>

    <p class="register-link">¿No tenés cuenta? <a routerLink="/register">Registrate</a></p>
  </div>
</div>
